<html>

  <!--  Start a Timer to check for updates -->
  <% 
		if AppSettings.find(:all).empty?
			AppSettings.create({"TimeIncrement" => "5", "NotificationTypes" => "0,1,2"})
		end
    settings = AppSettings.find(:first).TimeIncrement
    if settings
      if settings != "never"
        Rho::Timer.start(3000, url_for(:action => :checkNew), "nothing")
      end
    end 
  %>
  <!--End of Popup Code-->
  <body class="ui-body-b">
  
  
    <div data-role="page" id="icon-mshell-show-page" data-theme="g" data-cache="false" data-add-back-btn="false" class="page logged-out">

    <div data-role="header" data-theme="x" data-id="header-mshell" data-position="fixed" data-tap-toggle="false" class="headerShadow">
      <img data-icon="rumobile" src="../public/images/blank.gif" class="headerLogo" />
    </div><!-- header -->

    <div data-role="content">
       <div class="ui-grid-c" id="icon-view">
         <div class="ui-block-a">
           <a href="<%= url_for :controller => :Emergency, :action => :emergency_page %>">
            <div class="ui-btn-up-b"><div><span class="icon-help"></span></div></div>
             <span class="label">Emergency</span>
           </a>
         </div>
       </div>
     </div>
     <!-- /content -->
    <div data-role="footer" data-theme="z" id="icon-mshell-show-page" data-position="fixed">
      <img data-icon="ru" src="../public/images/blank.gif" class="footerLogo">
    </div><!-- footer -->
</div><!-- /page -->
</body>
</html>
